<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <div>
        <a href="/logout">Logout</a>
        <a href="/dashboard">TV Shows</a>
    </div>
    <div>
        <h1>{{show.title}}</h1>
        <p>Network: {{show.network}}</p>
        <p>Release Date: {{show.release_date.strftime('%B %e, %Y')}}</p>
        <p>Description: {{show.description}}</p>
        <p>Posted by: {{show.userself.first_name}} {{show.userself.last_name}}</p>
    </div>
    
</body>
</html>